body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* nav {
  background-color: #79bbff;
}

nav a {
  display: inline-block;
  padding: 0.25rem;
  margin: 1rem;
  margin-left: 3rem;
  text-decoration: none;
  font-size: 1.2em;
  color: #ffff;
  border-bottom: 2px solid #114673;
  transition: 0.1s;
}

nav a:hover,
nav a:active {
  color: #114673;
  border-bottom: 2px solid #ffff;
} */

.marker-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.marker-btn img {
  width: 20px;
  height: 20px;
}